.p-size {
  /* font-size: 50px; */
}

.c-article {

  border: 1px solid #817777;
  border-radius: 5px;
  padding: 17px 15px 0px 13px;
  margin-bottom: 12px;
}

.c-article-subtitle {
  color: #958c8c;
  font-size: 14px;
}

.c-article-title {
  text-decoration: none;
  font-size: 20px;
}