.p-size {
  /* font-size: 50px; */
}

.c-article {

  /* border: 1px solid #817777; */
  /* border-radius: 5px; */
  padding: 22px 0 13px 21px;
  margin-bottom: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.c-article-subtitle {
  color: #958c8c;
  font-size: 14px;
}

.c-article-title {
  text-decoration: none;
  font-size: 18px;
}