.container {
  margin: auto;
  max-width: 500px;
  font-family: sans-serif;
}

.heading {
  color: rebeccapurple;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: black;
  text-decoration: none;


  /* color: #f3e9e9;
  text-decoration: none;
  font-size: 20p;
  border: 1px solid #9950d1;
  border-radius: 6px;
  background: #812181;
  padding: 6px 9px; */
}

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
}
